$background-color: #111;
$entry-background-color: #fff;
$small-headers-color: #555;
$entry-date-color: #777;
$text-color: #111;
$highlight-text-color: #000;
$highlight-background-color: yellow;
$footer-text-color: #fefefe;
$footer-link-color: #fefefe;
$footer-link-hover-color: #ff6668;
$entry-navigation-color: #999;
