@import 'colors';

.entry-list-page {
  background-color: $entry-background-color;
  padding: 30px 0;

  .entry-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 1.4em;
      margin: 15px 0;
      font-size: 22px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    small {
      display: block;
      margin-right: 10px;
      color: $small-headers-color;
      font-size: 16px;
    }
  }
}
