@import 'colors';

.landing-page {
  background-color: $entry-background-color;
  padding: 30px 0;

  h1 {
    margin: 40px 0 0 0;
  }

  .content-section {
    margin: 30px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .content-header {
      //text-transform: uppercase;
      font-size: 16px;
      line-height: 28px;
      //font-weight: 600;
      margin: 0;
      //margin-bottom: 10px;
      color: #555;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        line-height: 1.5em;
        font-size: 22px;
      }
    }
  }
}

