.subscribe {
  background-color: #fcfbfa;
  color: #333;
  padding: 40px 0;
  border-top: 1px solid #ddd;

  label {
    margin-bottom: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
  }

  button {
    font-family: 'PT Sans', sans-serif;
  }

  h2 {
    margin: 10px 0 30px 0;
    font-size: 22px;
    line-height: 30px;
  }
}
