@import 'colors';

html, body {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  color: $text-color;
}

a {
  color: #59367c;
}

@import 'header';
@import 'landing';
@import 'entry-page';
@import 'entry-list-page';
@import 'footer';
@import 'mailchimp';
