@import 'colors';

html, body {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  color: $text-color;
}

a,
a:visited,
a:active,
a:focus {
  color: #c9302c;
}

a:hover {
  color: #9f2623;
}

code {
  color: $highlight-text-color;
  font-family: inherit;
  font-size: inherit;
  background-color: $highlight-background-color;
  padding-left: 3px;
  padding-right: 3px;
}

@import 'header';
@import 'landing';
@import 'entry-page';
@import 'entry-list-page';
@import 'footer';
@import 'mailchimp';
@import 'introduction';
