<footer>
  <div class="container">

    <div class="content-navigation">
      <span class="brand-name"><a href="/">Success Exchange</a></span>
      <span><a href="/books">Books</a></span>
      <span><a href="/videos">Videos</a></span>
    </div>

    <div class="social-media-navigation">
      <a href="mailto:contact.success.exchange@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>

      <a href="http://twitter.com/successexchange" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="http://instagram.com/success.exchange" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
