<aside class="introduction">
  <div class="container">

    <h2>Welcome to the Success Exchange!</h2>

    <div class="row">
      <div class="col-md-8">

        <div class="content">

          <p><img src="artemij_fedosejev.jpg" class="author" /></p>

          <p>My name is Artemij and I am on the mission:</p>

          <p>
            <span class="mission">To educate myself in investing, marketing, business, psychology and technology.</span>
          </p>

          <p>
          My strategy is to learn from other people's experience by reading books and articles, watching videos, listening podcasts and attending live events.
          </p>

          <p>I've created Success Exchange to share with you all the lessons that I'll learn - so that you could learn them too.</p>

          <p>To know when new lessons are published follow <a href="http://twitter.com/successexchange">@SuccessExchange</a> on Twitter.</p>

          <p>
            Stick around - we've got tons to learn!
          </p>

          <p class="author">Artemij Fedosejev</p>

        </div>

      </div>
    </div>
  </div>
</aside>
