<aside class="introduction">
  <div class="container">

    <h2>Welcome to the Success Exchange!</h2>

    <div class="row">
      <div class="col-md-8">

        <div class="content">

          <p>I am glad you've made it.</p>

          <p><img src="artemij_fedosejev.jpg" class="author" /></p>

          <p>My name is Artemij and I am on the mission:</p>

          <p>
            <span class="mission">To educate myself and to achieve financial freedom by the year of 2020.</span>
          </p>

          <p>
          My strategy is to learn from other people's experience by reading books and articles, watching videos, listening to podcasts and attending live events.
          </p>

          <p>I've created Success Exchange to share with you all the lessons that I'll learn from others - so that you could learn them too.</p>

          <p>Stick around - we've got tons to learn!</p>

          <p class="author">Artemij Fedosejev</p>

        </div>

      </div>
    </div>
  </div>
</aside>
