<!DOCTYPE html>
<html lang="en">
  <%- partial("../../_partials/_head") %>
  <body>
    <%- partial("_partials/_header") %>
    <%- yield %>
    <%- partial("../../_partials/_footer") %>
  </body>
</html>
